@page "/doctor"
@using HospitalManagementSystem.Models
@inject UserService UserService

<h1>Doctor Dashboard</h1>

@if (UserInfo != null)
{
    <div>
        <label>Welcome, @UserInfo.FirstName @UserInfo.LastName</label><br />
    </div>
}
else
{
    <p>Loading...</p>
}

<button @onclick="GoToDoctorProfile">Go to Doctor Profile</button>
<button @onclick="GoToPatientDischarge">Patient Discharge</button>
<button @onclick="GoToPrescriptionForm">Prescription Form</button>
<button @onclick="GoToPatientList">Patient List</button>
<button @onclick="GoToLoginPage">Logout</button>

@code {
    private UserInfoModel UserInfo;

    protected override async Task OnInitializedAsync()
    {
        // Fetch user info from the server
        UserInfo = await UserService.GetUserInfo(Login.Username); // Assuming UserService handles fetching user info
    }

    private void GoToDoctorProfile()
    {
        NavigationManager.NavigateTo("/doctor-profile");
    }

    private void GoToPatientDischarge()
    {
        NavigationManager.NavigateTo("/doctor-patient-discharge");
    }

    private void GoToPrescriptionForm()
    {
        NavigationManager.NavigateTo("/prescription-form");
    }

    private void GoToPatientList()
    {
        NavigationManager.NavigateTo("/doctor-patient-list");
    }

    private void GoToLoginPage()
    {
        NavigationManager.NavigateTo("/login");
    }
}
